<!DOCTYPE html>
<html lang="en" th:replace="${session.role == 'admin'} 
    ? ~{/views/gdienAdmins/templateadmin.html::view(~{::main}, ~{::title})} 
    : ~{/views/gdienUsers/template.html::view(~{::main}, ~{::title})}">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>carts</title>

        <!-- Bootstrap CSS -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
            rel="stylesheet">

        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
            integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!-- Bootstrap JS -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>

        <script
            src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

        <script src="/assets/angular/shopping-cart-app.js"></script>

    </head>

    <body ng-app="shopping-cart-app" ng-controller="shopping-cart-ctrl">
        <main>
            <div class="cart-container">
                <h2>Giỏ hàng của bạn</h2>

                <div ng-repeat="item in cartItems" class="cart-item">
                    <input type="checkbox" ng-model="item.selected"
                        ng-change="updateTotal()">
                    <img ng-src="{{item.product.imageUrl}}" alt="Sản phẩm">
                    <div class="info">
                        <p>{{ item.product.productName }}</p>
                        <p>Giá: <strong>{{ item.product.price | currency:'':0
                                }}đ</strong></p>
                    </div>
                    <div class="quantity">
                        <button ng-click="updateQuantity(item, -1)">-</button>
                        <span>{{ item.quantity }}</span>
                        <button ng-click="updateQuantity(item, 1)">+</button>
                    </div>
                    <button class="delete-btn"
                        ng-click="removeItem(item)">Xóa</button>
                </div>

                <div class="total">Tổng: <strong>{{ totalAmount | currency:'':0
                        }}đ</strong></div>
                <button class="checkout-btn">Mua hàng</button>
            </div>
        </main>
    </body>

</html>