<!DOCTYPE html> ~
<html lang="vi" th:replace="${session.role == 'admin'} 
          ? ~{/views/gdienAdmins/templateadmin.html::view(~{::main}, ~{::title})} 
          : ~{/views/gdienUsers/template.html::view(~{::main}, ~{::title})}">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Giỏ hàng</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
            crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!-- Bootstrap JS -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>

        <!-- AngularJS -->
        <script
            src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

        <!-- Angular App -->
        <script th:src="@{/assets/angular/shopping-cart-app.js}"></script>
    </head>

    <body ng-app="shoppingCartApp" ng-controller="shoppingCartCtrl">
        <main>
            <div class="panel panel-primary">
                <div class="panel-heading">SHOPPING CART</div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Poster</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Amount</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in cart.items">
                            <td>{{item.id}}</td>
                            <td>{{item.imageUrl}}</td>
                            <td>{{item.productName}}</td>
                            <td>${{item.price | number : 2}}</td>
                            <td><input ng-model="item.quantity" type="number"
                                    min="1"></td>
                            <td>${{item.quantity*item.price | number : 2}}</td>
                            <td>
                                <button ng-click="cart.remove(item.id)"
                                    class="btn btn-sm btn-danger">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="panel-footer">
                    <button ng-click="cart.clear()" class="btn btn-danger">
                        <i class="glyphicon glyphicon-trash"></i> Clear
                    </button>
                    <a th:href="@{/order/checkout}" class="btn btn-primary">
                        <i class="glyphicon glyphicon-hand-right"></i> Checkout
                    </a>
                </div>
            </div>
        </main>
    </body>

</html>