<!DOCTYPE html>
<html lang="en" th:replace="
        ${session.role} == 'SHIPPER' 
        ? ~{/views/gdienShippers/templateshipper.html::view(~{::main}, ~{::title})} 
        : ~{/views/gdienUsers/template.html::view(~{::main}, ~{::title})}
    ">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>doimatkhau</title>

    </head>

    <body>
        <main>
            <section class="gradient-custom"
                style="height: 650px; margin-top: 15px;">
                <div class="container">
                    <div
                        class="row d-flex justify-content-center align-items-center">
                        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                            <div class="card bg-dark text-white"
                                style="border-radius: 1rem; width: 600px; height: 500px; margin-top: 20px; margin-left: -90px;">
                                <div class="card-body text-center"
                                    style="background-color: rgb(186, 225, 249);">

                                    <div class="mb-md-5 mt-md-4 pb-5">
                                        <h5 class="fw-bold mb-2 text-uppercase"
                                            style="color: blue;">Change Password
                                        </h5>
                                        <form th:action="@{/doimatkhau/update}"
                                            method="post">
                                            <div
                                                class="form-outline form-white mb-4">
                                                <input type="password"
                                                    name="oldPassword"
                                                    class="form-control form-control-lg mt-3"
                                                    placeholder="Nhập Password cũ" />
                                            </div>

                                            <div
                                                class="form-outline form-white mb-4">
                                                <input type="password"
                                                    name="newPassword"
                                                    class="form-control form-control-lg mt-3"
                                                    placeholder="Nhập Password mới" />
                                            </div>

                                            <div
                                                class="form-outline form-white mb-4">
                                                <input type="password"
                                                    name="confirmPassword"
                                                    class="form-control form-control-lg mt-3"
                                                    placeholder="Xác nhận Password mới" />
                                            </div>

                                            <button type="submit"
                                                class="btn btn-outline-light btn-lg mt-4"
                                                style="background-color: blue;">Change</button>
                                        </form>

                                        <div style="margin-top: 20px;">
                                            <div th:if="${error}"
                                                class="alert alert-danger"
                                                role="alert"
                                                th:text="${error}"></div>
                                            <div th:if="${success}"
                                                class="alert alert-success"
                                                role="alert"
                                                th:text="${success}"></div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </main>
    </body>

</html>