<!DOCTYPE html>
<html lang="en" th:replace="~{/views/gdienAdmins/templateadmin.html::view(~{::main}, ~{::title})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý Loại hàng</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <main class="users">
        <div class="container mt-4">
            <h2>Quản lý Danh Mục</h2>
            <hr>
            <div th:if="${error}" class="alert alert-danger">
                <span th:text="${error}"></span>
            </div>

            <div th:if="${success}" class="alert alert-success">
                <span th:text="${success}"></span>
            </div>

            <form action="/category/index" th:object="${item}">
                <input th:field="*{categoryId}" placeholder="Mã danh mục" />
                <input th:field="*{name}" placeholder="Tên danh mục" />
                <hr>
                <button class="btn btn-primary mb-3" formaction="/category/create">Create</button>
                <button class="btn btn-primary mb-3" formaction="/category/update">Update</button>
                <a th:href="@{|/category/delete/${item.categoryId}|}">Delete</a>
                <a href="/category/index">Reset</a>
            </form>
        </div>

        <div class="container mt-4">
            <hr>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Mã Danh Mục</th>
                        <th>Tên Danh Mục</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:each="item : ${items}">
                        <tr>
                            <td th:text="${item.categoryId}"></td>
                            <td th:text="${item.name}"></td>
                            <td>
                                <a class="edit" th:href="@{|/category/edit/${item.categoryId}|}">Edit</a>
                            </td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>