<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <!-- Bootstrap CSS -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
            rel="stylesheet">

        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
            integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />

    </head>

    <body>
        <header class="p-3 mb-3 border-bottom">
            <div class="container">
                <div
                    class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="/"
                        class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                        <img th:src="@{/photos/images.jpg}" width="62"
                            height="62"><span><a href="/"
                                style="text-decoration: none; font-size: 23px; margin-right: 20px;">EMAIENEIT</a></span>
                    </a>

                    <ul
                        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <li>
                            <a href="/cart/index"
                                class="nav-link px-2 link-secondary"><i
                                    class="fa-solid fa-cart-shopping"
                                    style="color: #ea591a;"></i>
                            </a>
                        </li>
                        <li>
                            <a href="/order/history"
                                class="nav-link px-2 link-dark">Đơn
                                hàng</a>
                        </li>
                        <li>
                            <a href="/dangky"
                                class="nav-link px-2 link-dark">Đăng
                                ký</a>
                        </li>
                        <li>
                            <a href="/dangnhap"
                                class="nav-link px-2 link-dark">Đăng
                                nhập</a>
                        </li>
                    </ul>
                    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3"
                        th:action="@{/product/search}" method="get">
                        <input type="search" class="form-control" name="keyword"
                            placeholder="Search..." aria-label="Search">
                    </form>

                    <div class="dropdown text-end">
                        <a href="#"
                            class="d-block link-dark text-decoration-none dropdown-toggle"
                            id="dropdownUser1" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="fa-solid fa-gear"></i>
                        </a>
                        <ul class="dropdown-menu text-small"
                            aria-labelledby="dropdownUser1">
                            <li>
                                <a class="dropdown-item" href="/doimatkhau">Đổi
                                    mật
                                    khẩu</a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                    href="/forgot-password">Lấy
                                    lại mật
                                    khẩu</a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                    href="/hosocanhan">Chỉnh
                                    sửa hồ sơ</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item" href="/logout">Đăng
                                    xuất</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </header>
    </body>

</html>